<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>RegServlet</servlet-name>
  <servlet-class>servlets.RegServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>servlets.LoginServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>ModifyServlet</servlet-name>
  <servlet-class>servlets.ModifyServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AddGoodsServlet</servlet-name>
  <servlet-class>servlets.AddGoodsServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>GetAllGoodsServlet</servlet-name>
  <servlet-class>servlets.GetAllGoodsServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>ProcessCart</servlet-name>
  <servlet-class>servlets.ProcessCart</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AddToCart</servlet-name>
  <servlet-class>servlets.AddToCart</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>LogoutServlet</servlet-name>
  <servlet-class>servlets.LogoutServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>ModifyLogin</servlet-name>
  <servlet-class>servlets.ModifyLogin</servlet-class>
 </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>servlets.BuyServlet</servlet-class>
  </servlet>

 <servlet-mapping>
  <servlet-name>RegServlet</servlet-name>
  <url-pattern>/RegServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ModifyServlet</servlet-name>
  <url-pattern>/ModifyServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddGoodsServlet</servlet-name>
  <url-pattern>/AddGoodsServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetAllGoodsServlet</servlet-name>
  <url-pattern>/GetAllGoodsServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProcessCart</servlet-name>
  <url-pattern>/ProcessCart</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddToCart</servlet-name>
  <url-pattern>/AddToCart</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LogoutServlet</servlet-name>
  <url-pattern>/LogoutServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ModifyLogin</servlet-name>
  <url-pattern>/ModifyLogin</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/BuyServlet</url-pattern>
  </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/login.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
